* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button{
  color: red;
}

/* Navbar */
.nav {
  /* min-width: 274px; */
  width: 100%;
  background-color: red;
  color: white;
  height: 80px;
  position: sticky;

}

.section1 {
  padding-left: 10px;
  font-size: 5vh;
  line-height: 80px;
  font-weight: bold;
}

.section1 a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.nav ul {
  float: right;
  margin-right: 3vh;
  /* display: flex; */
}

.nav ul li {
  display: inline-block;
  line-height: 80px;
  list-style: none;
  font-size: 2.5vh;
  cursor: pointer;

}

ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 15px 15px;
}

.menu {
  float: right;
  line-height: 80px;
  display: none;
}

@media only screen and (max-width: 940px) {
  .menu {
    height: 80px;
    display: block;
    color: white;
    margin-right: 5px;
    cursor: pointer;
  }
  ul li a:hover {
    /* background-color: rgba(213, 40, 40, 0.66); */
    border-radius: 10px;
    transition: .5s;
  }

  ul {
    display: none;
  }

  .nav ul.open {
    display: block;
    width: 100%;
    height: 80%;
    background-color: white;
    position: fixed;
    top: 75px;
    /* left:-1; */
    text-align: center;
    border: 2px solid red;
    transition: all .5s;
  }


  .nav ul li {
    width: 100%;
    align-items: center;  
    padding-left: 0;
  }

  .nav ul li a {
    color: red;
    font-size: 15px;
    font-weight: bold;
  }

  ul li a:hover {
    background-color: rgb(238, 102, 102);
    color: white;
  }  

  .row {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
  }

  .container {
    margin: 8vh 0 0 0;
    width: 80vw;
    height: 45.8vh;
    border: 4px solid red;
  }

  .container img {
    width: 100%;
    height: 100%
  }

  .content {
    width: 80vw;
    height: 20vh;
    border: 4px solid red;
    background-color: red;
    text-align: center;
    /* margin-top: ; */
    color: white;
  }

  .content h3 {
    text-align: justify;
    color: white;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .content button{
    width: 30vw;
    height: 4vh;
    background-color: rgb(255, 255, 255);
    border: none;
    color: red;
    border-radius: 6px;
    margin-top: 4vh;
    cursor: pointer;
    /* height: 5vw; */
  }
  .content button a{
    text-decoration: none;
    color: red;
  }
}

 @media only screen and (min-width: 940px) and (max-width: 1206px) {
  .menu {
    height: 80px;
    display: block;
    color: white;
    margin-right: 5px;
    cursor: pointer;
  }
  .content button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .nav ul li a {
    color: red;
    font-size: 15px;
    font-weight: bold;
  }

  ul li a:hover {
    background-color: rgb(238, 102, 102);
    color: white;
  }  
  ul {
    display: none;
  }

  .nav ul.open {
    display: block;
    width: 100%;
    height: 80%;
    background-color: white;
    position: fixed;
    top: 75px;
    /* left:-1; */
    text-align: center;
    border: 2px solid red;
    transition: all .5s;
  }


  .nav ul li {
    width: 100%;
    align-items: center;
    padding-left: 0;
  }
  .row {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
  }

  .container {
    margin: 8vh 0 0 0;
    width: 39vw;
    height: 45.8vh;
    border: 4px solid red;
  }

  .container img {
    width: 100%;
    height: 100%;
  }

  .content {
    width: 39vw;
    height: 20vh;
    border: 4px solid red;
    background-color: red;
    text-align: center;
    /* margin-top: ; */
    color: white;
  }

  .content h3 {
    text-align: justify;
    color: white;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .content button {
    width: 7vw;
    height: 4vh;
    background-color: rgb(255, 255, 255);
    border: none;
    color: red;
    border-radius: 6px;
    margin-top: 4vh;
    cursor: pointer;
    /* height: 5vw; */
  }

  .content button a {
    text-decoration: none;
    color: red;
    font-weight: bold;
  }

}

/* Container */

@media only screen and (min-width: 1206px) and (max-width:1700px) {


  ul li a:hover {
    background-color: rgba(213, 40, 40, 0.66);
    border-radius: 10px;
    transition: .5s;
  }
  .row {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
  }

  .container {
    margin: 8vh 0 0 0;
    width: 27vw;
    height: 45.8vh;
    border: 4px solid red;
  }

  .container img {
    width: 100%;
    height: 100%;
  }

  .content {
    width: 27vw;
    height: 20vh;
    border: 4px solid red;
    background-color: red;
    text-align: center;
    /* margin-top: ; */
    color: white;
  }

  .content h3 {
    text-align: justify;
    color: white;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .content button {
    width: 7vw;
    height: 4vh;
    background-color: rgb(255, 255, 255);
    border: none;
    color: red;
    border-radius: 6px;
    margin-top: 4vh;
    cursor: pointer;
    /* height: 5vw; */
  }

  .content button a {
    text-decoration: none;
    color: red;
    font-weight: bold;
  }
}